body {
  font-family: Arial, sans-serif;
  background-color: wheat;
  height: 100%;
}
.sms-container {
  width: 50%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
padding-left: 20em;
}
.main_container{
     height: 100%;
     width: 50;
     padding: 1em, 2em;
}
 h1 {
text-align: center;
}
.chat-box {
  padding: 25px;
  max-height: 400px;
  overflow-y: auto;
}
.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.4;
}
.seller {
  background: #e0f7fa;
  text-align: left;
}
.buyer {
  background: #dcedc8;
  text-align: right;
}
.payment-form {
  padding: 25px;
  border-top: 1px solid #ddd;
}
.payment-form input {
  width: 200%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.payment-form button {
  width: 100%;
  padding: 12px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.payment-form button:hover {
  background: #45a049;
}
