body{
    font-family:Arial,  sans-serif ;
    padding: 0;
    margin: 0;
    background:skyblue ;  
}
header{
    display: flex;
    background-color: green;
    padding: 15px;
    color: white;
    gap: 1em;
    flex-direction: column;
    align-items: center;
}
form{
    padding: 2em;
    border-radius: 10px;
    width: 20%;
   
}
label{
    display: block;
    margin-bottom: 10px;
}
input,textarea{
    width: 20%;
    padding: 1em;
    margin: 15px;
    border-radius: 0.6em;
}
button{
    width: 10%;
     padding: 10px 12px;
     background-color: green;
     color: #fff;
     border: none;
     border-radius: 8px;
     font-size: 1rem; 
     cursor: pointer;
     text-align: center;
    }
    .btn:hover { filter: brightness(1.05); }
