body{
    font-family: arial, sans-serif;
    background: white; 
    margin: 0;
    padding: 0;
}
header{
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}
 nav a { color: #fff;
     margin: 0 15px;
      text-decoration: none;
     }
      .hero {
         background: wheat;
          padding: 60px;
           text-align: center; }
.features, .products {
     padding: 40px;
      text-align: center; }
h2{
    color: #16035c;
}
.product{
    margin-bottom: 115px;
}
button{
    background: #4CAF50;
    color: antiquewhite;
    border: none;
    cursor: pointer;
}
button :hover{
    background: #45a049;
}
.comfirmation::before{
text-align: center;
color: green;
font-weight: bold;
}
 
   
   
   
    .hero h1 { margin: 0; }
    .features, .products { padding: 40px; text-align: center; }
    .feature, .product { display: inline-block; width: 250px; margin: 20px; }
    footer { background: #333; color: #fff; text-align: center; padding: 20px; }
  